[submodule "test/cut"]
	path = test/cut
	url = https://github.com/NestorNebula/cut.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/42paris/minilibx-linux
[submodule "libft"]
	path = libft
	url = https://github.com/NestorNebula/libft
	branch = forward
